a.accelpay-notice-container {
  color: inherit;
  text-decoration: underline;
  display: block;

  span {
    &.accelpay-text {
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &.logo-span {
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
