a.accelpay-notice-container {
  
    color: inherit;
    text-decoration: none;
    display: block;
  
  span {
    &.accelpay-text {
      opacity: 0.6;
    }
    &.logo-span {
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
